{
  "extends": ["airbnb"],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "chrome": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": {
      "extensions": [".tsx"]
    }
  }
}
